body {
  background-color: lightcyan;
}

#main-header {
  background-color: blueviolet;
  color: white;
  padding: 5px;
  text-align: center;
}

.sub-title {
  color: darkblue;
  text-decoration: underline;
}